{% extends "base.html" %}


{% block promo %}
  <div class="promo">
    <div class="container">
      <div class="promo-info">
        <h1>Find any fake sheet.</h1>
        <p>Someone call a tune you haven't played in years? Worse, is it in a different key <br/>than normal? No worries! JazzChanges.net has your back.</p>
        <ul>
          <li>Easy to read fake sheets (chords only).</li>
          <li>Two click transposing.</li>
          <li>Add your own versions.</li>
          <li>100% free!</li>
        </ul>
      </div>

      <div class="promo-search">
        <div class="promo-heading">
         <h3>Search Now!</h3>
        </div>

        <form action="{% url directory:search %}">
          <fieldset>
            <div class="clearfix">
              <label for="xlInput">Title/Artist</label>
              <div class="input">
                <input class="large" id="q" name="q" size="30" type="text">
              </div>
            </div>
            <div class="actions">
              <input type="submit" class="btn success" value="Find Tune Now &rarr;">
            </div>
          </fieldset>
        </form>

      </div>

    <div class="clearfix"></div>
    </div> 
  </div> <!-- promo -->
{% endblock promo %}

{% block content %}
  <div class="hero-unit" style="margin-top:20px;">
    <h1>Any changes. Any key.</h1>
    <p>Well formated change sheets for the most common jazz standards. No melody, no fluff. If you need the melody or lead sheet, check out Amazon.com.</p>
    <p><a class="btn primary large" href="{% url directory:root %}">View directory &raquo;</a> <a class="btn success large" href="{% url tunes:new %}">Add a tune &raquo;</a></p>
  </div>
  
{% endblock content %}