{% extends "base.html" %}


{% block promo %}
  <div class="promo">
    <div class="container">
      <div class="promo-info">
        <h1>Find any fake sheet.</h1>
        <p>Someone call a tune you haven't played in years? Worse, is it in a different key than normal? No worries! JazzChanges.net has your back.</p>
        <ul>
          <li>Easy to read fake sheets (chords only).</li>
          <li>Two click transposing.</li>
          <li>Add your own versions.</li>
          <li>100% free!</li>
        </ul>
      </div>

      <div class="promo-search">
        <div class="promo-heading">
         <h3>Search Now!</h3>
        </div>

        <form>
          <fieldset>
            <div class="clearfix">
              <label for="xlInput">Title</label>
              <div class="input">
                <input class="large" id="xlInput" name="xlInput" size="30" type="text">
              </div>
            </div>
            <div class="actions">
              <input type="submit" class="btn success" value="Find Tune Now &rarr;">
            </div>
          </fieldset>
        </form>

      </div>

    <div class="clearfix"></div>
    </div> 
  </div> <!-- promo -->
{% endblock promo %}