{% extends "base.html" %}

{% block content %}
  <br />
  <h2>Legal, Copyright and the DMCA:</h2>
  <br />
  
  <p>JazzChanges.net respects the intellectual property rights of others and we require our members to do the same. Our members remain the original copyright owner in all content provided on the community. Use of the material in a manner which is inconsistent with the terms and conditions set forth herein is strictly prohibited.</p>

  <p>JazzChanges.net has adopted the following policy concerning copyright infringement in accordance with the <strong>Digital Millennium Copyright Act</strong> ("<strong>DMCA</strong>"), as codified in 17 U.S.C §512. The contact information to receive notification of claimed copyright or intellectual property infringement is listed at the end of this policy.</p>


  <p>If you believe in good faith your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please provide the following DMCA requirements to JazzChanges.net:</p>
  
  <ul>
    <li>Information reasonably sufficient for UG to contact you: name, address, phone and e-mail address (if available); </li>
    <li>A description of the copyrighted work or intellectual property that you claim has been infringed, or if multiple works, a listing of such works; </li>
    <li>Information reasonably sufficient to permit UG to locate your work on the site; </li>
    <li>A statement, made by you, that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent or the law;  </li>
   <li>A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner, or authorized to act on the copyright owner's behalf; </li>
    <li>A physical or electronic signature of the copyright owner, or a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
  </ul>

  <p>Upon receiving a proper notification of alleged copyright infringement as described above, we will remove or disable access to the allegedly infringing content and promptly notify the alleged infringer of your claim.</p>

  <p>Please submit your statement to JazzChanges.net by email to <strong>contact@jazzchanges.net</strong>.</p>
{% endblock content %}