{% extends "base.html" %}

{% block nav_fluid %}-fluid{% endblock nav_fluid %}

{% block container_fluid %}-fluid{% endblock container_fluid %}

{% block content %}
  <div class="sidebar">
    <div class="well">
      {% block inner_sidebar %}
        <h3>All Tunes:</h4>

        <ul>
          {% for tune in tunes %}
            <li><a href="{% url directory:view tune.id tune.artist_slug tune.title_slug %}">{{ tune.title }}</a> <small>{{ tune.get_key_display }} &amp; {{ tune.get_time_display }}</small></li>
          {% empty %}
            <li>None!</li>
          {% endfor %}
        </ul>

        <a class="btn success small" href="{% url tunes:new %}">Add New Tune</a>
        <br />
      {% endblock inner_sidebar %}
    </div>
  </div>

  <div class="content">
    {% block breadcrumb %}
      <ul class="breadcrumb">
        {% block breadcrumb_inner %}
          <li class="active">All Tunes</li>
        {% endblock breadcrumb_inner %}
      </ul>
    {% endblock breadcrumb %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert-message{% if message.tags %} {{ message.tags }}{% endif %}">
          <a class="close ignore" href="#">×</a>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}

    {% block inner_content %}
     <h1>Welcome to JazzChanges!</h1>
     <p>Choose or search for the desired tune on the left.</p>
    {% endblock inner_content %}
  </div>
{% endblock content %}