{% extends "directory/base.html" %}

{% block title %}Fullscreen | {{ tune.title }} - {{ tune.artist }} | Fake Sheet{% endblock title %}

{% block top_bar %}{% endblock top_bar %}

{% block container_fluid %}{% endblock container_fluid %}

{% block content %}
<style type="text/css">
body {padding:0;}
</style>

  <div class="content">
    <br />

    <div class="page-header">
      <div class="buttons">
        <div class="dropdown" style="float:left" data-dropdown="dropdown">
          <a class="btn success small dropdown-toggle" href="#">Transpose</a>
          <ul class="dropdown-menu">
            {% for i, target_key in keys %}
              <li><a href="{% url directory:view_key_fullscreen tune.id tune.artist_slug tune.title_slug i %}">{{ target_key }}{% if i == tune.key %} (original){% endif %}</a></li>
            {% endfor %}
          </ul>
        </div>

        {% if key != tune.key %}
          <a class="btn small" href="{% url directory:view_key tune.id tune.artist_slug tune.title_slug key %}">Exit Fullscreen</a>
        {% else %}
          <a class="btn small" href="{% url directory:view tune.id tune.artist_slug tune.title_slug %}">Exit Fullscreen</a>
        {% endif %}
      </div>

      <h1>{{ tune.title }}</h1>

      <div class="meta">
        <small><span class="smaller">key of</span> {{ letter_key }} <span class="smaller">&amp; in</span> {{ tune.get_time_display }} <span class="smaller">time</span></small> 
      </div>
    </div>
    
    <div class="clearfix"></div>
    <br />

    {% include "tunes/sheet.html" with width=840 bigger=1 %}
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}