{% extends "directory/base.html" %}

{% block title %}{{ tune.title }} - {{ tune.artist }} | Fake Sheet{% endblock title %}

{% block breadcrumb_inner %}
  <li><a href="{% url directory:root %}">All Tunes</a> <span class="divider">/</span></li>
  <li class="active">{{ tune.title }} ({{ tune.artist }})</li>
{% endblock breadcrumb_inner %}

{% block inner_content %}
  {% include "directory/page_header.html" %}

  <div class="clearfix"></div>
  <br />
  {% include "tunes/sheet.html" with width=610 %}

  <br />
  <hr />
  <p style="text-align: right;"><small>Harmony for educational use only. We don't have the melody or lead line. <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&amp;field-keywords={{ tune.query_string }}&amp;x=0&amp;y=0">Buy sheet music with lead/melody.</a></small></p>

{% endblock inner_content %}