/*
Syntax error: Undefined variable: "$baseline".
        on line 12 of jazzchanges/static/sass/tables.scss

7: // BASELINE STYLES
8: // ---------------
9: 
10: table {
11:   width: 100%;
12:   margin-bottom: $baseline;
13:   padding: 0;
14:   font-size: $basefont;
15:   border-collapse: collapse;
16:   th,
17:   td {

Backtrace:
jazzchanges/static/sass/tables.scss:12
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/script/variable.rb:50:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:214:in `visit_prop'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:234:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:234:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:421:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$baseline\".\A         on line 12 of jazzchanges/static/sass/tables.scss\A \A 7: // BASELINE STYLES\A 8: // ---------------\A 9: \A 10: table {\A 11:   width: 100%;\A 12:   margin-bottom: $baseline;\A 13:   padding: 0;\A 14:   font-size: $basefont;\A 15:   border-collapse: collapse;\A 16:   th,\A 17:   td {"; }
