@font-face {
    font-family: 'MuseJazzMedium';
    src: url('../fonts/musejazz-webfont.eot');
    src: url('../fonts/musejazz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/musejazz-webfont.woff') format('woff'),
         url('../fonts/musejazz-webfont.ttf') format('truetype'),
         url('../fonts/musejazz-webfont.svg#MuseJazzMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


.topbar {
  .brand {
    font-weight:bold;
  }
  .nav {
    float:right;
  }
}

.container-fluid {
  width:940px;
  margin:0 auto;
}

.promo {
  background:#0A72C7 url('../images/promo-bg.png') top left repeat;
  padding:40px 0;

  .promo-info {
    color:#eee;
    text-shadow:1px 1px #000;
    width:580px;
    padding:0 10px 0 0;
    float:left;

    h1,h2,h3,h4,h5,h6 {
      color:#fff;
      text-shadow:1px 1px #000;
    }

    ul {
      li {
        color:#eee;
      }
    }
  } // promo info

  .promo-search {
    @include border-radius(5px);

    width:350px;
    float:right;
    background:#fff;
    text-shadow:none;

    .promo-heading {
      border-bottom: 1px solid #EEE;
      padding: 5px 15px;
      text-align:center;
    }

    form {
      margin-bottom:0;

      fieldset {
        margin-bottom:0;

        label {
          width:70px;
        }

        .input {
          margin-left:90px;
        }

        .actions {
          margin-bottom:0;
          padding-left:90px;
        }
      } // fieldset
    } // form
  } // promo-signup
} // promo

.workspace {
  .sidebar {
    padding-top:20px;

    .well {
      padding: 7px 14px;
      margin: 0 0 $baseline;
      @include vertical-gradient(#fcfcfc, #f5f5f5);
      border: 1px solid #ddd;
      @include border-radius(3px);
      @include box-shadow(inset 0 1px 0 $white);
    }
  }

  .content {
    padding-top:20px;

    .hero-unit {
      margin-top:0;
    }

    form {
      .input-xlarge, input.xlarge, textarea.xlarge, select.xlarge {
        width:360px;
      }
      .help-inline {
        display:block;
        float:right;
        width:170px;
      }
      .help-block {
        color:#aaa;
      }
    }

    .page-header {
      a.btn {
        float:right;
        margin-left:4px;
      }

      h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
        color: #888;

        .smaller {
          font-size:14px;
          color:#aaa;
        }
      }
    }
  } // content
} //  workspace

.sheet {
  .staff {
    height:110px;
    background:transparent url('../images/lines-90.png') 0 20px repeat-x;

    .clef {
      float:left;
      background:transparent url('../images/treble-90.png') 50% 50% no-repeat;
      height:90px;
      width:50px;
      margin-top:20px;
    }

    .time {
      padding:27px 0 0;
      float:left;
      font-family: 'MuseJazzMedium', Arial, sans-serif;
      font-size:44px;
      line-height:38px;
      width:30px;
      text-align:center;
    }

    .chords {
      float:right;
      height:40px;

      .chord {
        float:left;
        font-family: 'MuseJazzMedium', Arial, sans-serif;
        font-size:24px;
        line-height:32px;

        width:38px; // 620 / (4 * 4) # 4 measures of 4 (system length)
      }
    }

    .bars {
      float:right;
      height:50px;

      .barline {
        height:50px;
        float:left;
        border-right:transparent solid 2px;

        &.show {
          border-right:#333 solid 2px;
        }
      }
    }
  }
}