<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Free Fake Sheets{% endblock title %} | JazzChanges.net </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery-ui-1.8.16.redmond.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
  </head>

  <body>
    {% block top_bar %}
      <div class="topbar">
        <div class="fill">
          <div class="container{% block nav_fluid %}{% endblock nav_fluid %}">
            {% block nav %}
              <a class="brand" href="/">JazzChanges.net</a>

              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url directory:root %}">Directory</a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url tunes:workspace %}">Your Tunes</a></li>
                  <li><a href="{% url userena_profile_detail request.user.username %}">Your Profile</a></li>
                  <li><a href="{% url userena_signout %}">Sign Out</a></li>
                {% else %}
                  <li><a href="{% url userena_signup %}">Sign Up</a></li>
                  <li><a href="{% url userena_signin %}">Sign In</a></li>
                {% endif %}
              </ul>
            {% endblock nav %}
          </div>
        </div>
      </div>
    {% endblock top_bar %}

    {% block promo %}{% endblock promo %}

    
    <div class="container{% block container_fluid %}{% endblock container_fluid %} workspace">
      {% block content_top %}{% endblock content_top %}

      {% block content %}
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit" style="margin-top:20px;">
          <h1>Hello, world!</h1>
          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn primary large">Learn more &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="span-one-third">
            <h2>Heading</h2>
            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span-one-third">
            <h2>Heading</h2>
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
         </div>
          <div class="span-one-third">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div>
      {% endblock content %}
      <div class="clearfix"></div>

      {% block content_bottom %}{% endblock content_bottom %}
      <div class="clearfix"></div>

      <br />
      <br />

      {% block footer %}
        <footer>
          <a href="https://github.com/jazzchanges/jazzchanges">Get the code</a> | <a href="{% url legal %}">Legal</a></p>
        </footer>
      {% endblock footer %}


    </div> <!-- /container -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3862478-34']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
