{% extends "tunes/base.html" %}

{% block title %}Editing {{ tune.title }} - {{ tune.artist }}{% endblock title %}

{% block breadcrumb_inner %}
  <li><a href="{% url tunes:workspace %}">Your Tunes</a> <span class="divider">/</span></li>
  <li><a href="{% url tunes:view tune.id %}">{{ tune }}</a> <span class="divider">/</span></li>
  <li class="active">Editing Meta</li>
{% endblock breadcrumb_inner %}

{% block inner_content %}
  <div class="page-header">
    <div class="buttons">
      <a class="btn error small" href="{% url tunes:delete tune.id %}">Delete</a>
    </div>

    <h1>{{ tune.title }}</h1>

    <div class="meta">
      <small><span class="smaller">key of</span> {{ tune.get_key_display }} <span class="smaller">&amp; in</span> {{ tune.get_time_display }} <span class="smaller">time</span></small> 
    </div>
  </div>

  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  
    {{ form.as_div }}

    <div class="actions">
      <input type="submit" class="btn success" value="Save &rarr;">
    </div>
  </form>
{% endblock inner_content %}