{% extends "tunes/base.html" %}

{% block title %}Fullscreen {{ tune.title }} - {{ tune.artist }}{% endblock title %}

{% block top_bar %}{% endblock top_bar %}

{% block container_fluid %}{% endblock container_fluid %}

{% block content %}
<style type="text/css">
body {padding:0;}
</style>

  <div class="content">
    <br />

    <div class="page-header">
      <h1>{{ tune.title }} <small><em>{{ tune.artist }}</em> <span class="smaller">key of {{ letter_key }}</span></small> 
        {% if key != tune.key %}
          <a class="btn small" href="{% url tunes:view_key tune.id key %}">Exit Fullscreen</a>
        {% else %}
          <a class="btn small" href="{% url tunes:view tune.id %}">Exit Fullscreen</a>
        {% endif %}

        <div class="dropdown" style="float:right" data-dropdown="dropdown">
          <a class="btn success small dropdown-toggle" href="#">Transpose</a>
          <ul class="dropdown-menu">
            {% for i, target_key in keys %}
              <li><a href="{% url tunes:view_key_fullscreen tune.id i %}">{{ target_key }}{% if i == tune.key %} (original){% endif %}</a></li>
            {% endfor %}
          </ul>
        </div>
      </h1>
    </div>
    
    <div class="clearfix"></div>
    <br />

    {% include "tunes/sheet.html" with width=840 bigger=1 %}
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}