{% extends "tunes/base.html" %}

{% block breadcrumb_inner %}
  <li><a href="{% url tunes:workspace %}">Your Tunes</a> <span class="divider">/</span></li>
  <li class="active">New Tune</li>
{% endblock breadcrumb_inner %}

{% block inner_content %}
  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  
    {{ form.as_div }}

    <div class="actions">
      <input type="submit" class="btn success" value="Continue &rarr;">
    </div>
  </form>
{% endblock inner_content %}