{% extends "tunes/base.html" %}

{% block breadcrumb_inner %}
  <li><a href="{% url tunes:workspace %}">Your Tunes</a> <span class="divider">/</span></li>
  <li class="active">{{ tune }}</li>
{% endblock breadcrumb_inner %}

{% block inner_content %}
  <div class="page-header">
    <h1>{{ tune.title }} <small><span class="smaller">key of</span> {{ tune.get_key_display }} <span class="smaller">&amp; in</span> {{ tune.get_time_display }} <span class="smaller">time</span></small> 
      <a class="btn error small" href="{% url tunes:delete tune.id %}">Delete</a>
      <a class="btn small" href="{% url tunes:edit tune.id%}">Edit</a>

      <div class="dropdown" style="float:right" data-dropdown="dropdown">
        <a class="btn success small dropdown-toggle" href="#">Transpose</a>
        <ul class="dropdown-menu">
          {% for i, key in keys %}
            <li><a href="{% url tunes:view_key tune.id i %}">{{ key }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </h1>
  </div>

  <div class="sheet">
    {% for system in systems %}
      <div class="staff">
        <div class="clef"></div>
        <div class="time">{{ tune.beats_per_measure }}<br />{{ tune.note_value }}</div>
        <div class="chords">
          {% for change in system %}
            <div class="chord" style="width:{{ width }}px">{% ifchanged %}{{ change.chord }}{% else %}&nbsp;{% endifchanged %}</div>
          {% endfor %}
        </div>

        <div class="bars">
          {% for change in system %}
            <div class="barline{% if forloop.counter|divisibleby:tune.beats_per_measure %} show{% endif %}" style="width:{{ width|add:"-2" }}px">&nbsp;</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock inner_content %}