{% extends "tunes/base.html" %}

{% block breadcrumb_inner %}
  <li><a href="{% url tunes:workspace %}">Your Tunes</a> <span class="divider">/</span></li>
  <li class="active">{{ tune.title }} ({{ tune.artist }})</li>
{% endblock breadcrumb_inner %}

{% block inner_content %}
  <div class="page-header">
    <h1>{{ tune.title }} <small><em>{{ tune.artist }}</em> <span class="smaller">key of {{ letter_key }}</span></small> 
      <a class="btn primary small" href="{% url tunes:edit tune.id %}">Edit</a>

      <div class="dropdown" style="float:right" data-dropdown="dropdown">
        <a class="btn success small dropdown-toggle" href="#">Transpose</a>
        <ul class="dropdown-menu">
          {% for i, target_key in keys %}
            <li><a href="{% url tunes:view_key tune.id i %}">{{ target_key }}{% if i == tune.key %} (original){% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>

      {% if key != tune.key %}
        <a class="btn small" href="{% url tunes:view_key_fullscreen tune.id key %}">Fullscreen</a>
      {% else %}
        <a class="btn small" href="{% url tunes:view_fullscreen tune.id %}">Fullscreen</a>
      {% endif %}

    </h1>
  </div>

  {% include "tunes/sheet.html" with width=610 %}

{% endblock inner_content %}