{% extends "tunes/base.html" %}

{% block alerts %}{% endblock alerts %}

{% block inner_content %}
  {% if not customuser.stipe_setup or not customuser.get_products|length%}
    <div class="hero-unit">
      <h2>Welcome to your Workspace!</h2>
      <p>This is where you'll spend most of your time adding tunes. Just click the add new tune button below, or to your left to get started!</p>
      <p><a href="{% url tunes:new %}" class="btn success">creating a new tune!</a></p>
    </div>
  {% endif %}
{% endblock inner_content %}